# Redis and celery for switching to in-memory background callbacks
# redis[hiredis]
# dash[celery]
dash==3.1.1
dash-bootstrap-components==1.6.0
dash-extensions==2.0.4
dash_mantine_components==2.1.0
decorator==5.2.1
pandas==2.3.1
plotly==6.2.0
